/* Chatbot.css */
.chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .notification:hover {
    background-color: #0056b3;
  }

  
  .chatbot-messages {
    background-color: #ffffff;
    height: 300px;
    padding: 10px;
    overflow-y: auto;
  }
  
  .message {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 8px;
  }
  
  .message-user {
    background-color: #DCF8C6;
    align-self: flex-end;
  }
  
  .message-bot {
    background-color: #E5E7E9;
  }
  
  .user-input {
    background-color: #ccc;
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .user-input input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
  }
  
  .user-input button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #68D391;
    color: #fff;
    cursor: pointer;
  }
  
  .user-input button:hover {
    background-color: #388556;
  }
  